// Specific CSS for your home-page
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  h3 {
    margin: 0;
    padding: 16px;
    font-size: 20px;
  }
}

.card {
  padding: 24px;
  height: 300px;
  margin-bottom: 8px;
  .details {
    display: flex;
    align-items: center;
    p {
      padding: 8px;
      margin: 0;
    }
  }
}
